@font-face {
	font-family:"Arial Rounded MT Bold";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/ArialRoundedMTBold.TTF");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basisafbeeldingskader {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#808080;
	font-family:"Arial Rounded MT Bold", sans-serif;
	font-size:48px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#808080;
	font-family:"Arial Rounded MT Bold", sans-serif;
	font-size:72px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#808080;
	font-family:"Arial Rounded MT Bold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#808080;
	font-family:"Arial Rounded MT Bold", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,60.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,60.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:963.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,60.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,60.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1812.00px;
}
#_idContainer001 {
	-ms-transform:translate(776.492px,-0.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(776.492px,-0.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(776.492px,-0.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(776.492px,-0.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:275.02px;
}
#_idContainer002 {
	-ms-transform:translate(751.625px,1017.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(751.625px,1017.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(751.625px,1017.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(751.625px,1017.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:324.75px;
}
#_idContainer003 {
	-ms-transform:translate(55.546px,696.467px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(55.546px,696.467px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:315.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.546px,696.467px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(55.546px,696.467px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.09px;
}
#_idContainer004 {
	-ms-transform:translate(1766.453px,381.373px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1766.453px,381.373px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:327.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1766.453px,381.373px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1766.453px,381.373px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.09px;
}
#_idContainer005 {
	-ms-transform:translate(41.291px,532.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.291px,532.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(41.291px,532.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.291px,532.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1740.25px;
}
#_idContainer006 {
	-ms-transform:translate(906.204px,987.372px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(906.204px,987.372px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(906.204px,987.372px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(906.204px,987.372px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:904.00px;
}
#_idContainer007 {
	-ms-transform:translate(1711.181px,85.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1711.181px,85.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:85.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1711.181px,85.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1711.181px,85.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.00px;
}
#_idContainer008 {
	-ms-transform:translate(1730.259px,903.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1730.259px,903.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:85.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1730.259px,903.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1730.259px,903.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.00px;
}
#_idContainer009 {
	-ms-transform:translate(62.000px,901.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.000px,901.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:85.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.000px,901.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.000px,901.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.00px;
}
#_idContainer010 {
	-ms-transform:translate(62.000px,90.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.000px,90.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:85.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.000px,90.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.000px,90.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.00px;
}
#_idContainer011 {
	-ms-transform:translate(468.446px,987.172px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(468.446px,987.172px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(468.446px,987.172px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(468.446px,987.172px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:904.00px;
}
#_idContainer012 {
	-ms-transform:translate(1353.070px,982.920px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1353.070px,982.920px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1353.070px,982.920px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1353.070px,982.920px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:904.00px;
}
#_idContainer013 {
	-ms-transform:translate(43.875px,750.861px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(43.875px,750.861px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.875px,750.861px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(43.875px,750.861px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1740.25px;
}
#_idContainer014 {
	-ms-transform:translate(46.187px,310.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.187px,310.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.187px,310.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.187px,310.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1740.25px;
}
#_idContainer015 {
	-ms-transform:translate(488.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(488.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(488.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(488.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer016 {
	-ms-transform:translate(488.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(488.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(488.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(488.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer017 {
	-ms-transform:translate(62.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer018 {
	-ms-transform:translate(1720.000px,311.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1720.000px,311.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:70.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1720.000px,311.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1720.000px,311.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer019 {
	-ms-transform:translate(62.250px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.250px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.250px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.250px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer020 {
	-ms-transform:translate(1302.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1302.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1302.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1302.000px,316.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer021 {
	-ms-transform:translate(1302.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1302.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1302.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1302.000px,100.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:32.03px;
}
#_idContainer022 {
	-ms-transform:translate(1720.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1720.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1720.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1720.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer023 {
	-ms-transform:translate(1302.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1302.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1302.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1302.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer024 {
	-ms-transform:translate(1302.000px,930.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1302.000px,930.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1302.000px,930.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1302.000px,930.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer025 {
	-ms-transform:translate(488.000px,930.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(488.000px,930.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(488.000px,930.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(488.000px,930.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer026 {
	-ms-transform:translate(488.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(488.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(488.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(488.000px,706.682px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
}
#_idContainer027 {
	-ms-transform:translate(1560.281px,-7.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1560.281px,-7.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1560.281px,-7.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1560.281px,-7.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:251.72px;
}
#_idContainer028 {
	-ms-transform:translate(1636.425px,1037.595px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1636.425px,1037.595px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1636.425px,1037.595px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1636.425px,1037.595px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.00px;
}
#_idContainer029 {
	-ms-transform:translate(46.000px,1.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.000px,1.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1111.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.000px,1.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.000px,1.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1876.43px;
}
#_idContainer030 {
	-ms-transform:translate(67.874px,-5.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(67.874px,-5.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(67.874px,-5.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(67.874px,-5.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
